/* Admin Dashboard Styling */
.admin-header {
    background-color: #ffffff;
    color: #fff;
    padding: 20px;
}

.admin-header .center-text h1 {
    color: #000000;
}

.admin-navbar {
    background-color: #999999;
    padding: 10px 0;
}

.admin-navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 70px;
    margin: 0 auto;
    padding: 0;
}

.admin-navbar a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: large;
}

.admin-navbar a:hover {
    color: #ff6f61;
}

/* Dashboard Grid Styling */

.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive grid for all screen sizes */
    gap: 20px;
    padding: 40px;
    max-width: 1200px; /* Adjusted for larger screens */
    margin: 0 auto;
    background-color: #f4f6f8; /* Light background color for the grid */
}

/* Individual Pane Styling */
.dashboard-pane {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 23px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.dashboard-pane:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.dashboard-pane h2 {
    color: #000000;
    margin-bottom: 10px;
    font-size: 1.8rem; /* Increased heading size */
    font-weight: bold; /* Makes the heading bold */
}

/* Uniform Image Styling */
.dashboard-image {
    width: 100px; /* Set fixed width */
    height: 100px; /* Set fixed height */
    object-fit: contain; /* Ensures the image scales to fit within the fixed dimensions */
    margin: 10px auto;
    display: block;
    border-radius: 5px;
}

/* Active Navbar Item */
.admin-navbar .active a {
    background-color: #353535; /* Black background for active item */
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.back-button button {
    background-color: white;
    color: #000000;
    box-shadow: 0 23px 12px rgba(0, 0, 0, 0.1);
    outline: none;
}



